src/test/resources/sampleWsdl.xml

<!--
 Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4.
-->
<!--
 Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4.
-->
<definitions
        xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:wsp="http://www.w3.org/ns/ws-policy"
        xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tns="http://soap.testcalc.qa.ataccama.com/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.testcalc.qa.ataccama.com/" name="TestCalcSoapImplementationService">
    <types/>
    <message name="subtract">
        <part name="val1" type="xsd:int"/>
        <part name="val2" type="xsd:int"/>
    </message>
    <message name="subtractResponse">
        <part name="return" type="xsd:int"/>
    </message>
    <message name="add">
        <part name="val1" type="xsd:int"/>
        <part name="val2" type="xsd:int"/>
    </message>
    <message name="addResponse">
        <part name="return" type="xsd:int"/>
    </message>
    <message name="divide">
        <part name="val1" type="xsd:int"/>
        <part name="val2" type="xsd:int"/>
    </message>
    <message name="divideResponse">
        <part name="return" type="xsd:int"/>
    </message>
    <message name="multiply">
        <part name="val1" type="xsd:int"/>
        <part name="val2" type="xsd:int"/>
    </message>
    <message name="multiplyResponse">
        <part name="return" type="xsd:int"/>
    </message>
    <portType name="TestCalcSoap">
        <operation name="subtract" parameterOrder="val1 val2">
            <input wsam:Action="http://soap.testcalc.qa.ataccama.com/TestCalcSoap/subtractRequest" message="tns:subtract"/>
            <output wsam:Action="http://soap.testcalc.qa.ataccama.com/TestCalcSoap/subtractResponse" message="tns:subtractResponse"/>
        </operation>
        <operation name="add" parameterOrder="val1 val2">
            <input wsam:Action="http://soap.testcalc.qa.ataccama.com/TestCalcSoap/addRequest" message="tns:add"/>
            <output wsam:Action="http://soap.testcalc.qa.ataccama.com/TestCalcSoap/addResponse" message="tns:addResponse"/>
        </operation>
        <operation name="divide" parameterOrder="val1 val2">
            <input wsam:Action="http://soap.testcalc.qa.ataccama.com/TestCalcSoap/divideRequest" message="tns:divide"/>
            <output wsam:Action="http://soap.testcalc.qa.ataccama.com/TestCalcSoap/divideResponse" message="tns:divideResponse"/>
        </operation>
        <operation name="multiply" parameterOrder="val1 val2">
            <input wsam:Action="http://soap.testcalc.qa.ataccama.com/TestCalcSoap/multiplyRequest" message="tns:multiply"/>
            <output wsam:Action="http://soap.testcalc.qa.ataccama.com/TestCalcSoap/multiplyResponse" message="tns:multiplyResponse"/>
        </operation>
    </portType>
    <binding name="TestCalcSoapImplementationPortBinding" type="tns:TestCalcSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
        <operation name="subtract">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://soap.testcalc.qa.ataccama.com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://soap.testcalc.qa.ataccama.com/"/>
            </output>
        </operation>
        <operation name="add">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://soap.testcalc.qa.ataccama.com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://soap.testcalc.qa.ataccama.com/"/>
            </output>
        </operation>
        <operation name="divide">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://soap.testcalc.qa.ataccama.com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://soap.testcalc.qa.ataccama.com/"/>
            </output>
        </operation>
        <operation name="multiply">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://soap.testcalc.qa.ataccama.com/"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://soap.testcalc.qa.ataccama.com/"/>
            </output>
        </operation>
    </binding>
    <service name="TestCalcSoapImplementationService">
        <port name="TestCalcSoapImplementationPort" binding="tns:TestCalcSoapImplementationPortBinding">
            <soap:address location="http://localhost:8080/qa_testCalc_java11/soapWS"/>
        </port>
    </service>
</definitions>